.top { height: 80px; background-color: #d60a2e; }

.header { border-bottom: 1px solid #ddd; }

.car_h { padding: 20px 0; }

.car_h h1 { width: 305px; float: left; height: 46px; text-indent: -1000px; background: url("img/logo.png") no-repeat; }

.car_h .stepflex { border-top: 2px solid #ddd; text-align: center; margin: 25px 30px 0 0; }

.car_h .stepflex dl { float: left; position: relative; width: 280px; top: -2px; border-top: 2px solid #ddd; }

.car_h .stepflex dl dt { position: relative; margin: -10px auto 0; color: #fff; width: 18px; height: 18px; background: #f00; border-radius: 50%; line-height: 18px; }

.car_h .stepflex dl dd { margin-top: 5px; position: relative; }

.car_h .stepflex dl.done { border-top-color: #ff504a; width: 140px; }

.car_h .stepflex dl.last { width: 140px; }

.shoppingcart .cart_title { padding-top: 10px; font-size: 16px; color: #222; line-height: 21px; }

.shoppingcart .cart_con_tit { background-color: #f2f2f2; font-size: 16px; color: #666; border: 1px solid #e8e8e8; margin-top: 10px; }

.shoppingcart .cart_con_tit li { float: left; text-align: left; }

.shoppingcart .cart_con_tit .tit_check { padding: 10px 15px 10px 20px; width: 150px; }

.shoppingcart .cart_con_tit .tit_check label { margin-left: 20px; }

.shoppingcart .cart_con_tit .tit_meg { padding: 10px 80px 10px 0; width: 400px; }

.shoppingcart .cart_con_tit .tit_price { width: 180px; padding: 10px 0; }

.shoppingcart .cart_con_tit .tit_quantity { width: 220px; text-align: center; padding: 10px 70px 10px 0; }

.shoppingcart .cart_con_tit .tit_sum { width: 200px; padding: 10px 0; }

.shoppingcart .cart_con_tit .tit_action { width: 100px; padding: 10px 0; }

.shoppingcart .cart_con_tit .tit_check input, .cart_split .car_split_tit input, .cart_split .cart_con .cart_form .c_check input, .c_balance_bt .b_check input { width: 16px; height: 16px; }

.cart_split .car_split_tit { margin-top: 10px; height: 35px; line-height: 35px; border-bottom: 2px solid #AAA; }

.cart_split .car_split_tit input { margin-left: 21px; }

.cart_split .car_split_tit span { margin-left: 5px; font-weight: 500; font-size: 14px; color: #333; }

.cart_split .cart_con { border: 1px solid #e8e8e8; margin: 0; border_top: 0; }

.cart_split .cart_con .cart_form { padding: 20px 0 20px 53px; position: relative; display: inline-block; }

.cart_split .cart_con .cart_form .c_meg { color: #666; }

.cart_split .cart_con .cart_form .c_meg dt { float: left; margin-right: 15px; }

.cart_split .cart_con .cart_form .c_meg dt img { width: 120px; height: 120px; border: 1px solid #e8e8e8; }

.cart_split .cart_con .cart_form .c_meg dd { padding-right: 80px; width: 350px; float: left; }

.cart_split .cart_con .cart_form .c_meg dd a { line-height: 22px; color: #666; }

.cart_split .cart_con .cart_form .c_price { width: 255px; margin-top: 33px; color: #666; padding-left: 50px; }

.cart_split .cart_con .cart_form .c_price p { line-height: 22px; }

.cart_split .cart_con .cart_form .c_price p span { font-size: 20px; }

.cart_split .cart_con .cart_form .c_quantity { text-align: center; width: 120px; padding-right: 100px; }

.cart_split .cart_con .cart_form .c_quantity .c_amount { margin-top: 33px; }

.cart_split .cart_con .cart_form .c_quantity .c_amount a { float: left; width: 30px; height: 30px; border: 1px solid #ddd; text-align: center; font-size: 20px; line-height: 17px; }

.cart_split .cart_con .cart_form .c_quantity .c_amount input { border: medium none; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; height: 30px; line-height: 18px; width: 30px; float: left; text-align: center; color: #666; }

.cart_split .cart_con .cart_form .c_sum { width: 200px; color: #666; font-size: 14px; font-weight: bold; margin-top: 33px; }

.cart_split .cart_con .cart_form .c_action { width: 100px; margin-top: 33px; }

.cart_split .cart_con .cart_form .c_action span { display: block; background-position: 0 -125px; width: 18px; height: 20px; float: left; cursor: pointer; }

.cart_split .cart_con .cart_form .c_check { position: absolute; left: 20px; top: 54px; }

.cart_sum { border: 1px solid #e8e8e8; margin-top: 10px; }

.cart_sum .c_balance { padding: 20px; }

.cart_sum .c_balance .c_count { color: #333; }

.cart_sum .c_balance .c_count p { line-height: 24px; }

.cart_sum .c_balance .c_count p .c_rt { width: 80px; display: inline-block; text-align: right; }

.cart_sum .c_balance .c_count p .c_rt em { font-size: 14px; }

.cart_sum .c_balance .c_count p .c_lt { width: 95px; text-align: right; display: inline-block; }

.cart_sum .c_balance .c_count p .c_num { color: #f70800; }

.cart_sum .c_balance .c_count p .c_paid { color: #f70800; font-size: 18px; }

.cart_sum .c_balance .c_count p .c_shu { font-weight: 800px; }

.c_balance_bt { height: 50px; background-color: #f2f2f2; border-top: 1px solid #e8e8e8; }

.c_balance_bt .b_check { padding: 17px 0 0 20px; }

.c_balance_bt .b_check label { margin-left: 10px; color: #666; cursor: pointer; }

.c_balance_bt .b_del { color: #666; margin-left: 20px; margin-top: 18px; cursor: pointer; }

.c_balance_bt .balance_bt { width: 160px; text-align: center; font-weight: bold; font-size: 18px; color: #fff; background-color: #ff504a; line-height: 50px; }
