@charset "UTF-8";
#you { width: 100%; height: 100%; margin: 0; padding: 0; }

.gps .gps_l li, .gps_r li { float: left; font-size: 18px; line-height: 43px; height: 43px; }

.gps .gps_l li:hover a, .gps_r li:hover a { color: #f00; }

.gps .gps_l li a, .gps_r li a { display: block; color: #666; }

.gps { height: 42px; border-bottom: 1px solid #ddd; background: #F6F6F6; }

.gps .gps_l li:last-child { overflow: hidden; width: 414px; position: relative; }

.gps .gps_l li:last-child div { position: absolute; left: 0px; top: 0px; height: 0px; }

.gps_r li a span { padding: 0 10px; height: 18px; border-right: 1px solid #666; }

.gps_r li:hover a { color: #f00; }

.gps_r li:last-child { position: relative; }

.gps_r li:last-child a { padding-left: 20px; }

.gps_r li:last-child a i { position: absolute; left: 10px; color: #f00; top: 0px; }

.gps_r li:last-child a span { border-right: 0 none; }

.gps_r li:last-child:hover div { display: block; }

.gps_r li:last-child div { display: none; background: #fff; position: absolute; left: 0px; top: 40px; z-index: 1; border: 1px solid #ddd; box-shadow: 1px 1px #ddd,-1px -1px #ddd; }

.gps_r li:last-child div a { display: block; color: #f00; }

.gps_r li:last-child div a i { position: absolute; left: 56px; top: -26px; }

.logo .logo_l h1, .logo .logo_l h2 { position: absolute; text-indent: -1000px; left: 0px; width: 206px; }

.logo { height: 100px; padding-top: 39px; background: #fff; }

.logo .logo_l { position: relative; width: 432px; height: 70px; }

.logo .logo_l h1 { background: url(../img/logo.png); height: 46px; top: 0px; }

.logo .logo_l h2 { background: url(../img/logom.jpg); height: 30px; top: 46px; }

.logo .search .search_l { width: 326px; height: 24px; line-height: 32px; border: 4px solid #f00; padding: 2px; padding-left: 15px; background: #fff; color: #999; }

.logo .search button { height: 36px; width: 76px; background: #f00; border: 0; padding: 0; color: #fff; cursor: pointer; }

.logo .car { display: block; color: #222; width: 138px; height: 30px; line-height: 30px; position: relative; text-align: center; border: 1px solid #ddd; }

.logo .car .car-bag { width: 138px; height: 30px; position: absolute; left: 0; top: 0; text-align: center; }

.logo .car .car-bag .icon-buycar { display: block; position: absolute; left: 9px; top: 0px; color: #f00; }

.logo .car .car-bag .icon-arrow { display: block; position: absolute; right: 6px; top: 0px; }

.logo .car .car-bag a { color: #222; }

.logo .car .car-bag a .carnum { position: absolute; display: block; width: 18px; height: 16px; border-radius: 50%; line-height: 14px; text-align: center; color: #fff; background: #f00; overflow: hidden; right: 16px; top: -2px; }

.logo .car .car-bag:hover .cart_info { display: block; }

.logo .car .car-bag .cart_info { border: 1px solid #ddd; width: 288px; position: absolute; top: 29px; left: -150px; z-index: 3; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); display: none; }

.logo .car .car-bag .cart_info .cartList { padding: 10px 0 0; background-color: #fff; }

.logo .car .car-bag .cart_info .cartList .carul { margin-left: 10px; height: 213px; overflow-y: auto; }

.logo .car .car-bag .cart_info .cartList .carul li { border-bottom: 1px solid #eaeaea; }

.logo .car .car-bag .cart_info .cartList .carul li:hover a { background: #ddd; }

.logo .car .car-bag .cart_info .cartList .carul li a { display: block; padding: 10px; height: 50px; }

.logo .car .car-bag .cart_info .cartList .carul li a .carting { float: left; width: 50px; height: 50px; margin-right: 10px; }

.logo .car .car-bag .cart_info .cartList .carul li a .carting img { width: 100%; height: 100%; }

.logo .car .car-bag .cart_info .cartList .carul li a .cartlink { width: 96px; float: left; color: #222; margin-right: 24px; line-height: 18px; margin-top: 5px; }

.logo .car .car-bag .cart_info .cartList .carul li a .pricemx { padding-top: 6px; }

.logo .car .car-bag .cart_info .cartList .carul li a .pricemx span { color: #f70800; font-size: 14px; }

.logo .car .car-bag .cart_info .cartList .pricezj { background-color: #f0f0f0; font-size: 14px; height: 56px; line-height: 56px; padding-left: 12px; padding-right: 128px; position: relative; }

.logo .car .car-bag .cart_info .cartList .pricezj .canum { color: #f70800; font-weight: 700; }

.logo .car .car-bag .cart_info .cartList .pricezj .cartotal { color: #f70800; padding-left: 8px; }

.logo .car .car-bag .cart_info .cartList .pricezj .cartotal em { font-size: 18px; font-weight: 700; }

.logo .car .car-bag .cart_info .cartList .pricezj .gosum { width: 104px; height: 30px; line-height: 30px; text-align: center; color: #fff; position: absolute; right: 20px; top: 12px; background-color: #ff504a; border-radius: 5px; }

.nav .container li a { display: block; padding: 0 20px; line-height: 40px; height: 40px; font-size: 15px; color: #fff; height: 40px; font-weight: 700; }

.nav { background: #f00; }

.nav .container { position: relative; }

.nav .container li { float: left; }

.nav .container li:last-child { position: absolute; right: 0; top: 0; }

.nav .container li:last-child .fllist { height: auto; width: 998px; display: none; padding-top: 1px; border: 1px solid #f70800; background-color: #fff; z-index: 1; position: absolute; right: 0px; top: 40px; }

.nav .container li:last-child .fllist dl { float: left; padding-bottom: 10px; border-right: 1px solid #ddd; }

.nav .container li:last-child .fllist dl dt a { display: block; position: relative; color: #999; padding: 0 35px 0 34px; height: 42px; line-height: 42px; font-size: 18px; font-weight: 1000; border-bottom: 1px dashed #ddd; }

.nav .container li:last-child .fllist dl dt a .icon-jewelry { color: #f00; position: absolute; left: 8px; top: 0; }

.nav .container li:last-child .fllist dl dd a { display: block; color: #eee; padding: 0 30px 0 30px; height: 30px; line-height: 30px; font-size: 16px; }

.nav .container li:last-child .fllist dl:last-child { border-right: 0 none; }

.nav .container li:hover { background-color: #d63a3a; }

.nav .container li:hover .fllist { display: block; }

.banner { height: 340px; width: 100%; position: relative; overflow: hidden; }

.banner ul { position: absolute; left: 0px; top: 0px; height: 340px; overflow: hidden; width: 100%; }

.banner ul li { float: left; height: 340px; overflow: hidden; }

.banner ul li a { display: block; background-size: cover; }

.banner ul li a img { width: 1579px; height: 340px; display: block; }

.banner > span { display: block; position: absolute; left: 0; top: 50%; transform: translate(0, -50%); padding: 50px 16px; background-color: rgba(0, 0, 0, 0.5); color: #fff; }

.banner .btn-next { left: auto; right: 0; }

.banner .page { position: absolute; right: 50%; bottom: 0; padding: 10px; }

.banner .page span { display: inline-block; margin: 0 5px; width: 30px; height: 30px; line-height: 30px; background-color: rgba(0, 0, 0, 0.6); text-align: center; color: #fff; border-radius: 50%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.banner .page span.active { background-color: rgba(255, 0, 0, 0.8); }

.main { background: #F6F6F6; }

.tv_live .tv_live_list li a p, .tv_live .tv_live_list li a span { font-size: 24px; padding-left: 10px; }

.tv_h { width: 100%; height: 50px; line-height: 50px; color: #444; font-size: 16px; }

.tv_h li:first-child span:first-child { border-left: 4px solid #f70800; font-size: 24px; color: #f70800; font-weight: 800; }

.tv_h li:first-child span:nth-child(2) { font-size: 24px; color: #222; margin-right: 5px; font-weight: 600; }

.tv_live { padding: 28px 60px 50px 60px; background: #FFF; border: 1px solid #ddd; }

.tv_live .tv_live_list li { float: left; padding-right: 14px; padding-left: 22px; border-right: 1px solid #ddd; }

.tv_live .tv_live_list li:last-child { border-right: 0 none; }

.tv_live .tv_live_list li a { display: block; color: #333; }

.tv_live .tv_live_list li a img { width: 420px; height: 240px; }

.tv_live .tv_live_list li a p { line-height: 84px; }

.tv_live .tv_live_list li a span { padding-top: 44px; line-height: 40px; color: #f00; }

.day_dis li:last-child .hours, .day_dis li:last-child .mins, .day_dis li:last-child .secs { background: #000; color: #fff; width: 20px; font-size: 20px; height: 20px; padding: 2px; margin-right: 4px; }

/*今日限时购*/
.day_dis li:last-child { font-size: 18px; }

.day_dis .day_list { padding-top: 20px; }

.day_dis .day_list .daily { width: 364px; height: 558px; padding-top: 4px; background: linear-gradient(to top right, #ff8e4a, #fa4444); }

.day_dis .day_list .daily .daily_shop { background: #FFF; width: 280px; height: 490px; padding: 15px; margin: 17px 0 0 15px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); background-color: white; position: relative; }

.day_dis .day_list .daily .daily_shop .shadow_lb { display: block; position: absolute; background: url(img/shadow_lb.png); background-size: 100% 100%; width: 47px; height: 30px; left: -11px; bottom: -11px; }

.day_dis .day_list .daily .daily_shop .shadow_rt { display: block; position: absolute; background: url(img/shadow_rt.png); width: 47px; height: 30px; right: -11px; top: -11px; }

.day_dis .day_list .daily .daily_shop .everyday { float: left; width: 119px; height: 30px; line-height: 30px; border-radius: 0 0 10px 10px; background: #aa2424; color: #FFF; font-size: 17px; position: absolute; left: 5px; top: 0; }

.day_dis .day_list .daily .daily_shop a { display: block; height: 280px; width: 100%; }

.day_dis .day_list .daily .daily_shop a img { width: 100%; }

.day_dis .day_list .daily .daily_shop .daily_shop_tis { font-size: 26px; color: #f70800; padding-top: 10px; text-oerflow: ellipsis; display: -webkit-box; }

.day_dis .day_list .daily .daily_shop .daily_shop_tt { font-size: 24px; color: #222; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; }

.day_dis .day_list .daily .daily_shop .daily_shop_box { padding-top: 15px; }

.day_dis .day_list .daily .daily_shop .daily_shop_box .daily_shop_price { font-size: 26px; color: #222; font-family: arial; margin-right: 10px; }

.day_dis .day_list .daily .daily_shop .daily_shop_box em { font-size: 18px; line-height: 36px; }

.day_dis .day_list .daily .daily_shop .daily_num_tag { width: 74px; height: 66px; padding-top: 6px; position: absolute; bottom: 0; right: -5px; background-image: url(img/bg_tag.png); background-repeat: no-repeat; background-size: 100%; color: #FFF; text-align: center; }

.day_dis .day_list .daily .daily_shop .daily_num_tag .span1 { transform: rotate(15deg); font-size: 22px; line-height: 24px; }

.day_dis .day_list .daily .daily_shop .daily_num_tag .span1 .span2 { font-size: 22px; }

.day_dis .day_list .daily_shop_one { width: 1090px; height: 534px; border: 1px solid #ddd; padding: 15px 10px; background: #FFF; }

.day_dis .day_list .daily_shop_one .daily_shop_list { position: relative; overflow: hidden; left: 0px; top: 0px; }

.day_dis .day_list .daily_shop_one .daily_shop_list li { position: relative; float: left; height: 542px; border-left: 1px solid #eee; }

.day_dis .day_list .daily_shop_one .daily_shop_list li .list { width: 310px; padding: 0 15px; margin-left: -1px; }

.day_dis .day_list .daily_shop_one .daily_shop_list li .list img { width: 310px; height: 310px; }

.day_dis .day_list .daily_shop_one .daily_shop_list li .list_tit { font-size: 22px; margin-top: 10px; height: 52px; line-height: 30px; padding: 0 10px; }

.day_dis .day_list .daily_shop_one .daily_shop_list li .list_yen { margin-top: 5px; padding: 0 5px; }

.day_dis .day_list .daily_shop_one .daily_shop_list li .list_yen .list_yen_price { font-size: 40px; color: #222; font-family: arial; margin-right: 10px; }

.day_dis .day_list .daily_shop_one .daily_shop_list li .list_yen .line_price { font-size: 20px; line-height: 36px; }

.day_dis .day_list .daily_shop_one .daily_shop_list li .list_box_yen { margin-top: 12px; height: 30px; line-height: 42px; color: #666; font-size: 22px; }

.day_dis .day_list .daily_shop_one .daily_shop_list li .list_box_yen .box_surplus { width: 90px; height: 30px; line-height: 30px; font-size: 16px; background: #ffe3e2; border: 1px solid #f70800; color: #f70800; text-align: center; }

.day_dis .day_list .daily_shop_one .daily_shop_list li .list_box_yen .box_quicking { display: block; width: 50px; font-size: 16px; height: 30px; line-height: 30px; text-align: center; border-radius: 13px; padding: 0 10px; cursor: pointer; border: 1px solid #f70800; background: #f70800; color: #fff; }

/*品类精选促销*/
.selection .selection_bar { overflow: hidden; width: 102%; }

.selection .selection_bar a { display: block; float: left; margin-right: 20px; padding-top: 20px; }

.selection .selection_bar a img { width: 740px; height: 406px; }

.global .global_list { padding-left: 106px; padding-bottom: 30px; }

.global .global_list li { height: 460px; float: left; margin-top: 20px; margin-right: 20px; width: 318px; height: 452px; border: 1px solid #ddd; }

.global .global_list li .list_box { padding: 10px; background-color: #fff; position: relative; }

.global .global_list li .list_box a { text-decoration: none; color: #222; outline: none; }

.global .global_list li .list_box a .list_box_img { position: relative; width: 298px; height: 298px; }

.global .global_list li .list_box a .list_box_img img { background: #fff; width: 100%; }

.global .global_list li .list_box a .box_tit { margin-top: 18px; height: 52px; line-height: 26px; padding: 0 10px; }

.global .global_list li .list_box a .box_tit .img_tit { font-size: 16px; display: block; }

.global .global_list li .list_box a .bot_subtit { color: #f70800; margin-top: 5px; height: 16px; line-height: 16px; font-size: 12px; padding: 0 10px; }

.global .global_list li .list_box a .box_yan { margin-top: 15px; }

.global .global_list li .list_box a .box_yan .box_price { font-size: 26px; color: #222; font-family: arial; margin-right: 10px; }

.global .global_list li .list_box a .box_yan .sale_price { position: relative; margin-top: 9px; text-decoration: none; font-size: 12px; }

.global .global_list li .list_box a .box_yan .purchased { color: #666; margin-top: 9px; }

.global .global_list li .list_box a .box_yan .purchased em { color: #f00; }

.global .global_list li .box_bt { height: 32px; line-height: 32px; background-color: #f8f8f8; color: #666; font-size: 12px; border-top: 1px solid #eee; padding: 0 20px; }

/*底部样式*/
.footer { height: auto; text-align: center; padding: 0; background: none; font-family: "\5FAE\8F6F\96C5\9ED1",tahoma,arial,"\u5b8b\u4f53",sans-serif; -webkit-font-smoothing: subpixel-antialiased !important; padding-bottom: 90px; border-top: 1px solid #e3e3e3; /*第二栏*/ /*第三栏*/ }

.footer .footad img { width: 100%; }

.footer .webz { border-bottom: 1px solid #e6e6e6; padding: 26px 0 26px 75px; }

.footer .webz .firstdl { width: 200px; height: 114px; padding-left: 42px; border-right: 1px dotted #e6e6e6; text-align: center; }

.footer .webz .firstdl dt { color: #333; font-size: 16px; height: 26px; line-height: 26px; }

.footer .webz .firstdl dd { height: 22px; line-height: 22px; }

.footer .webz .nob { border: 0; }

.footer .webz .firstdl2 { margin-left: 20px; }

.footer .webz .firstdl2 dt { width: 80px; text-align: center; }

.footer .webz .firstdl2 dt a { text-decoration: none; color: #222; outline: none; }

.footer .webz .firstdl2 dt a em { color: #999; font-style: normal; }

.footer .webz .firstdl2 dd { margin: 25px 0 0 25px; }

.footer .footerinfo { padding-top: 22px; line-height: 22px; text-align: center; }

.footer .footerinfo .footer_list { height: 26px; color: #555; }

.footer .footerinfo .footer_list a { color: #555; }

.footer .footerinfo .footer_list a span { padding: 0 8px; font-size: 13px; border-right: 2px solid #222; }

.footer .footerinfo .footer_list a:last-child span { border-right: 0 none; }

.footer .footerinfo .foot_link { width: 960px; margin: 0 auto; position: relative; }

.footer .footerinfo .foot_link .link_links { line-height: 22px; height: 22px; overflow: hidden; text-align: left; width: 900px; }

.footer .footerinfo .foot_link .link_links em { padding-right: 8px; color: #666; }

.footer .footerinfo .foot_link .link_links a { padding-right: 8px; color: #555; }

.footer .footerinfo .foot_link i { position: absolute; bottom: 0px; right: 50px; color: #f00; }

.footer .footerinfo .copyright { color: #555; line-height: 22px; }

.footer .footerinfo .footer_b { margin: 0 auto; tex-align: center; }

.footer .footerinfo .footer_b a { display: inline-block; text-decoration: none; height: 22px; line-height: 22px; }

.footer .footerinfo .footer_b a p { margin: 0px 0px 0px 5px; color: #555; position: relative; }

.footer .footerinfo .footer_b a p i { position: absolute; left: -18px; color: #f00; top: 0px; }

/*右侧固定栏*/
.sideout, .sidebar { position: fixed; right: 0; top: 0; }

.sideout { height: 100%; border-right: 4px solid #222; }

.sidebar { width: 36px; height: 100%; }

.sidebar ul li { height: 36px; width: 36px; background: #222; color: #fff; position: relative; }

.sidebar ul li i { display: block; position: absolute; font-size: 20px; top: 8px; left: 8px; }

.sidebar ul li:hover { background: #f00; }

.sidebar ul li:hover .bat_side { display: block; }

.sidebar ul li .bat_side { display: none; width: 90px; height: 36px; line-height: 36px; left: -89px; top: 0; background: #444; border-radius: 10px 0px 0px 10px; text-align: center; position: absolute; z-index: 1; }

.sidebar ul li .bat_side a { color: #fff; }

.sidebar ul:first-child { position: fixed; right: 0px; bottom: 50%; }

.sidebar ul:first-child li:first-child:hover .side_login { display: block; }

.sidebar ul:first-child li:first-child .side_login { border: 1px solid #ddd; display: none; text-align: center; position: absolute; left: -260px; background: #fff; color: #222; top: 0; width: 257px; height: 228px; padding: 2px; z-index: 1; }

.sidebar ul:first-child li:first-child .side_login .closeX { display: block; position: absolute; width: 12px; height: 12px; right: 12px; top: 20px; cursor: pointer; }

.sidebar ul:first-child li:first-child .side_login .side_login_sign { margin-top: 30px; display: block; }

.sidebar ul:first-child li:first-child .side_login .side_login_sign a { background: url(img/xiang.jpg); width: 74px; height: 74px; margin: 0 auto; display: block; margin-bottom: 10px; border: 1px solid #ddd; border-radius: 37px; }

.sidebar ul:first-child li:first-child .side_login .side_login_btn a { color: #f70800; padding: 6px; }

.sidebar ul:first-child li:first-child .side_login .side_login_go { position: absolute; bottom: 2px; left: 2px; width: 207px; background-color: #f8f8f8; padding: 16px 25px; }

.sidebar ul:first-child li:first-child .side_login .side_login_go a { display: inline-block; width: 88px; height: 28px; color: #222; text-align: center; line-height: 28px; color: #222; border-radius: 5px; border: 1px solid #ddd; }

.sidebar ul:first-child li:nth-child(2) .buycarnum { position: absolute; display: block; width: 18px; height: 16px; border-radius: 50%; line-height: 14px; text-align: center; color: #fff; background: #f00; overflow: hidden; right: 0px; top: -2px; }

.sidebar ul:first-child li:nth-child(2):hover .buycarnum { background: #fff; color: #f00; }

.sidebar ul:last-child { position: fixed; right: 0px; bottom: 0px; }

.sidebar ul:last-child li:first-child:hover div { display: block; }

.sidebar ul:last-child li:first-child div { display: none; background: #fff; position: absolute; left: -120px; top: -52px; z-index: 1; text-align: center; border: 1px solid #ddd; box-shadow: 1px 1px #ddd,-1px -1px #ddd; color: #f00; line-height: 30px; }

.sidebar ul:last-child li:first-child div a { display: block; width: 90px; height: 90px; background: url("img/ewm.jpg") no-repeat; padding: 6px; margin: 0 auto; }

.sidebar ul:last-child li:first-child div p { color: #222; padding: 0 6px; }
